/* Write your styles */
@media only screen and (max-width: 640px) {
    .am-nav-menu{
        height: auto;
    }
    .am-nav-menu-list{
        height: auto;
        padding: 0px;
        margin: 0px;
        list-style: none
    }
    .am-main-container{
        height: 100%;
        display: flex;
        flex-direction: column
    }
}
@media only screen and (min-width: 641px) {
    .am-nav-menu{
        height: 100%;
        padding: 0px;
    }
    .am-nav-menu-list{
        height: 100%;
        padding: 0px;
        margin: 0px;
        list-style: none
    }
    .am-main-container{
        height: 100%;
        display: flex;
        flex-direction: row
    }
}
@media only screen and (min-width: 1024px) {
    .am-nav-menu{
        height: 100%;
    }
    .am-nav-menu-list{
        height: 100%;
    }
    .am-main-container{
        height: 100%;
        display: flex;
        flex-direction: row
    }
}
html{
    height: 100%;
}
.am-nav-menu-list li{
    height: 1.7em;
    line-height: 1.7em;
    color: white
}
.am-nav-menu-list li:hover{
    background: gray
}
.am-nav-menu-list a{
    color:white;
}
.am-main-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column
}
.am-main-content-list{
    display: flex;
    flex-grow: 1;
    background: white;
    border: 1px gray dashed;
    overflow-y: auto;
    overflow-x: hidden;
}
.am-main-content-upload{
    margin-top: 5px;
    margin-bottom: 5px
}
.am-main-content-choose{
    margin-bottom: 5px;
    border: 1px gainsboro dashed;
    padding-top: 15px;
    padding-bottom: 15px;
}
.am-tool-bar{
    margin-top: 5px;
}
.am-main-content-item{
    display: flex;
    border-top: 1px gainsboro solid;
    border-bottom: 1px gainsboro solid;
    padding-top: 5px;
    padding-bottom: 5px
}
am-content-item-info{
    flex-grow: 1;
}